.header {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-phone {
  margin-right: 24px;
  margin-left: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  color: #95459a;
}

.header-link-contact {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.overlay {
}

.logo {
}
